:root {
  /* Primary */
--green-light: hsl(158, 36%, 37%);
--green-dark: hsl(158, 42%, 18%);

/* Neutral */
--black: hsl(212, 21%, 14%);
--grey: hsl(228, 12%, 48%);
--cream: hsl(30, 38%, 92%);
--white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
}

@font-face {
  font-family: "Fraunces"
  src: url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--cream);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.card {
  width: 40.625rem;
  background-color: var(--white);
}

.card-container {
  display: flex;
  justify-content: space-between;
  border-radius: .5rem;
}

.image {
  width: 50%;
  height: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: .5rem 0 0 .5rem;
}

p {
  margin: 1rem 0;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: left;
  border-radius: 0 .5rem .5rem 0;
}

.header {
  text-align: left;
  font-family: "Montserrat";
  font-size: .75rem;
  color: var(--grey);
}

.title {
  font-family: "Fraunces";
  font-size: 2rem;
  text-align: left;
  color: var(--black);
}

.info {
  font-family: "Montserrat";
  font-size: 1rem;
  text-align: left;
  color: var(--grey);
}

.pricing {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.price {
  color: var(--green-dark);
}

.strikethrough-price {
  text-decoration-line: line-through;
  color: var(--grey);
  font-size: .5rem;
}

